body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    background-color: #253237;
}

footer{
    color: #9bc4bc;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

* {
    padding: 0;
    margin: 0;
}

#page {
    margin: auto;
    padding: 2em;
    font-family: Verdana,Verdana, Geneva, Tahoma, sans-serif;
    width: 80%;
    background-color: #253237;
}

header {
    text-align: left;
    padding: 2em;
    color: #9bc4bc;
}

li.nav-item {
    margin: 0px 10px;
}



menuitem {
    margin: 2em;
    color: #9BC4BC;
}


.classPanelModule {
    padding: 1em;
    margin-bottom: 2em;
    padding-bottom: 3em;
}


.LeftModule {
    margin-right: 2em;
    float: left;
}


#EditButton {
    padding: 2em;
}

.editor-label{
    color: #9bc4bc;
}

.LoginHeading{
    color: #9bc4bc;
}


@media (min-width: 0px) {
    .container {
        max-width: none !important;
    }
}

@media (min-width: 1200px) {
    .container {
    }
}

@media (min-width: 1200px) {
    .container {
    }
}


.card {
    border: 1px solid rgba(179, 179, 179, 0.75);
    border-radius: 10px;
    background-color: #bebebe;
}



.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 2rem 2rem 0.5rem rgba(0, 0, 0, 0.2);
    max-width: 450px;
    margin: auto;
    background-color: lightgrey;
}

    .card-signin .card-title {
        margin-bottom: 2rem;
        font-weight: 300;
        font-size: 1.5rem;
    }

    .card-signin .card-body {
        padding: 2rem;
    }

.form-signin {
    width: 100%;
}

    .form-signin .btn {
        font-size: 80%;
        border-radius: 5rem;
        letter-spacing: .1rem;
        font-weight: bold;
        padding: 1rem;
        transition: all 0.2s;
    }


.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 1px red solid;
}

h1{
    color:white;
}
