@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Edit Listing</title>
</head>
<body>
    <div class="row">
        <h1 class="h1 col-md-12">Edit Listing</h1>
    </div>
    <div class="col-md-12" style="color:white; margin-top:auto; margin-bottom:auto;">
        <h2 class="h2 col-md-12 text-white">Listing Information</h2>
        <div>
            <input type="text" class="h2 col-md-3 text-white" id="textbook" />
            <label class="custom-control-label" for="textbook">Textbook Name</label>
        </div>
        <div>
            <input type="number" class="h2 col-md-3 text-white" id="textbookPrice" />
            <label class="custom-control-label" for="textbookPrice">Asking Price</label>
        </div>
        <button>Confirm</button>
        <button>Delete</button>
    </div>

    <div class="col-md-12" style="color:white; margin-top:auto; margin-bottom:auto;">
        <h2 class="h2 col-md-12 text-white">Textbook Information</h2>
        <div>
            <input type="text" class="h2 col-md-3 text-white" id="textbookName" />
            <label class="custom-control-label" for="textbookName">Textbook Name</label>
        </div>
        <div>
            <input type="text" class="h2 col-md-3 text-white" id="textbookISBN" />
            <label class="custom-control-label" for="textbookISBN">ISBN Number:</label>
        </div>
        <div>
            <input type="text" class="h2 col-md-3 text-white" id="textbookPublisher" />
            <label class="custom-control-label" for="textbookPublisher">Publisher:</label>
        </div>
        <div>
            <input type="text" class="h2 col-md-3 text-white" id="textbookAuthor" />
            <label class="custom-control-label" for="textbookAuthor">Author:</label>
        </div>
        <div>
            <input type="text" class="h2 col-md-3 text-white" id="textbookEdition" />
            <label class="custom-control-label" for="textbookEdition">Edition:</label>
        </div>
        <button>Add</button>
        <button>Delete</button>
    </div>


</body>
</html>


