@{
    ViewBag.Title = "Edit Listing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<body>
    <div class="row mt-md-3">
        <h1 class="h1 col-md-12 text-center">Listing Information</h1>
    </div>
    <div class="row mt-md-5" style="margin-bottom:15px">
        <form class="w-75 m-md-auto card p-1 my-5">
            <fieldset class="border-primary">
                <legend class="font-weight-bold">Listing Information</legend>
                <div class="row">
                    <div class="col col-md-6">
                        <div class="form-group row">
                            <label class="col-form-label col-md-4">Textbook Name:</label>
                            <div class="col-md-8">
                                <input class="form-control" readonly ="readonly"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-4">Asking Price:</label>
                            <div class="col-md-8">
                                <input class="form-control" type="number" />
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-2 justify-content-center" style="margin:auto">
                        <div class="row p-2">
                            <button class="btn btn-light btn-block">CONFIRM</button>
                        </div>
                        <div class="row p-2">
                            <button class="btn btn-light btn-block">DELETE</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>
<style>
    label {
        color: white;
    }

    .card {
        background-color: #164f52;
        border: none;
        box-shadow: 0 0.7rem 0.7rem 0.5rem rgba(0, 0, 0, 0.2);
    }

    legend {
        color: white;
        padding-left: 15px;
    }

    fieldset {
        padding: 5px;
    }
</style>


