@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h1 class="h1 col-md-6">My Modules</h1>
</div>
<div class="row" style="margin:20px">
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col" style="border-top:none;">Module Code</th>
                <th scope="col" style="border-top:none;">Module Name</th>
                <th scope="col" style="border-top:none;">Textbook</th>
                <th scope="col" style="border-top:none"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Prescribed)
            {
                //if (@item.Module.moduleLecturer == ViewBag.User.PersonIDNumber)
                //{
            <tr>
                <td>
                    @item.Module.moduleCode
                </td>
                <td>
                    @item.Module.moduleName
                </td>
                <td>
                    @item.BOOK.bookName
                </td>
                <td><button type="button" class="btn btn-light">Edit</button></td>
            </tr>
                @*}*@
            }
        </tbody>
    </table>
</div>
<style>
    .h1 {
        font-size: 4.5rem
    }

    .btn {
        max-height: 40px;
    }

    table {
        border-radius: 10px;
    }
</style>
<script>

</script>
