@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Edit Listing</title>
</head>
<body>
    <div class="row">
        <h1 class="h1 col-md-6">Edit Listing</h1>
    </div>
    <div class="row">
        <h2 class="h2 col-md-6 text-white">Listing Information</h2>
        <label class="basicLabel text-white"> Textbook Name </label>
        <textarea></textarea>
        <label class="basicLabel text-white"> Asking Price </label>
        <textarea></textarea>
        <button>Confirm</button>
        <button>Delete</button>
    </div>
    <div class="row">
        <h2 class="h2 col-md-6 text-white">Add a New Textbook</h2>
        <label class="basicLabel text-white"> Textbook Name: </label>
        <textarea></textarea>
        <label class="basicLabel text-white"> ISBN: </label>
        <textarea></textarea>
        <label class="basicLabel text-white"> Publisher: </label>
        <textarea></textarea>
        <label class="basicLabel text-white"> Author: </label>
        <textarea></textarea>
        <label class="basicLabel text-white"> Edition: </label>
        <></>
        <button>Add</button>
        <button>Delete</button>
    </div>
</body>
</html>


